@model AgendaContato.Models.GRUPOCONTATO
@{
	ViewData["Title"] = "Grupos";
}
<div class="text-center">
    <h1 class="display-4">Grupos</h1>
    <br />
    @{
        // foreach(var grupo in Model)
        // {
        //     <table>
        //         <tr>
        //             <th>Variavel com nome do grupo</th>
        //             <button class="btn btn-primary mt-4" type="">Ver grupo</button>
        //         </tr>
        //     </table>
        // }
    }

</div>
