@model AgendaContato.Models.GRUPOCONTATO
@{
	ViewData["Title"] = "Nome do grupo";
}
<div class="text-center">
	<h1 class="display-4"> Nome do grupo</h1>
	<br />
	<table class="table">
		<thread>
			<tr>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Categoria</th>
				<th>Grupo</th>
				<th>Favorito</th>
				<th>Ação</th>
			</tr>
		</thread>
		<tbody>
			@{
				// foreach (var contato in Model)
				// {
				// 	<tr>
				// 		<td>
				// 			@contato.CONTATO_COD
				// 		</td>
				// 		<td>
				// 			@contato.CONTATO_NUMERO
				// 		</td>
				// 		<td>
				// 			@contato.CONTATO_NOME
				// 		</td>
				// 		<td>
				// 			@contato.GRUPO_NOME
				// 		</td>
				// }
			}
		</tbody>