@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Favoritos";
}
@model List<CONTATO>
<div class="text-center">
    <h1 class="display-4">Contatos</h1>
    <br />
    <table class="table">
        <thread>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Categoria</th>
                <th>Grupo</th>
                <th>Favorito</th>
                <th>Ação</th>
            </tr>
        </thread>
        <tbody>
            @{
                foreach (var contato in Model)
                {
                    <tr>
                        <td>
                            @contato.CONTATO_COD
                        </td>
                        <td>
                            @contato.CONTATO_NUMERO
                        </td>
                        <td>
                            @contato.CONTATO_NOME
                        </td>
                        <td>
                            <a asp-action="FavoritoContato" asp-route-id="@contato.CONTATO_COD">icone desfavoritar contato</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>