@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Contato" class="btn btn-primary">Contatos</a>
    <a asp-controller="Home" asp-action="CriarContato" class="btn btn-secondary">Criar novos contatos</a>
</div>
