@model List<AgendaContato.Models.TIPOCONTATO>
@{
    ViewData["Title"] = "Tipos de Contato";
}

<h2>Tipos de Contato</h2>

<a class="btn btn-primary mb-3" asp-action="Criar">Novo Tipo</a>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tipo in Model)
        {
            <tr>
                <td>@tipo.TIPO_COD</td>
                <td>@tipo.TIPO_NOME</td>
                <td>
                    <a asp-action="Criar" asp-route-id="@tipo.TIPO_COD" class="btn btn-sm btn-warning"><i class="fa-solid fa-pencil"></i></a> |
                    <a asp-action="Deletar" asp-route-id="@tipo.TIPO_COD" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
